.slider-main {
  background-color: #000;
  .carousel-item {
    position: relative;
    img {
      @media (max-width:770px) {
        height: 100vh;
        object-fit: cover;
      }
    }
    .text-box {
      position: absolute;
      width: 100%;
      height: 85%;
      top: 15%;
      left: 0;
      // background-cox r: red !important;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-main {
        width: 45%;
        // background-color: red;
        text-align: center;
        color: #fff;
        p {
          padding: 2% 0;
          font-size: 18px;
          // font-weight: bolder;
        }
        h1 {
          padding: 2% 0;
          font-size: 75px;
          font-family: "Cormorant Garamond", serif;
        }
        button {
          margin: 5% 0;
          padding: 10px 40px;
          background-color: #b4bb6b;
          border: none;
          border-radius: 20px;
          color: #fff;
        }
        @media (max-width:1133px) {
            width: 55%;
            p{
                margin: 0;
            }
            h1{
                font-size: 60px;
            }
            button{
                margin: 3% 0;
            }
        }
        @media (max-width:930px) {
            width: 80%;
            h1{
                font-size: 40px ;
            }
        }
      }
    }
  }
  .carousel-control {
    i {
      background-color: rgba($color: #fff, $alpha: 0.1);
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 50%;
      font-size: 25px;
    }
  }
}
.carousel-indicators{
  button{
    background-color: #b4bb6b !important;
    border-radius: 50%;
    width: 18px !important;
    height: 18px !important;
  }
}